.form{
  margin-bottom: 2rem;
}

.perdeu{
  display: inline-block;
  color: #666;
  padding: .5rem 0;
  line-height: 1;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.perdeu::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: .3s;
}
.cadastro{
  margin-top: 4rem;
}

.cadastro p{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.subtitle{
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
  position: relative;
}
.subtitle::after{
  content: '';
  display: block;
  width: 3rem;
  height: .5rem;
  background-color: #ddd;
  border-radius: .2rem;
}